/* FOR MOBILE NAVBAR (HAMBURGER) */

@media screen and (max-width: 937px) {
  .hamburger {
    display: block;
  }
  nav > ul {
    position: fixed;
    background-color: var(--bg-color);
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.5s ease;
    z-index: 3;
  }
  nav ul li {
    margin-top: 3rem;
  }
  nav ul li a {
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
    margin: 0;
  }
  nav ul.MobileMenu {
    transform: translateY(100%);
  }
  nav ul img:first-child {
    width: 10rem;
    display: inline;
  }
  nav span {
    margin-top: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  nav span a {
    display: block;
    padding: 0rem 1rem;
    font-size: 2rem;
  }
  .social {
    display: none;
  }
 
}

/* FOR SMALL Phones in HEIGHT */

@media screen and (max-height: 650px) {
  nav span {
    margin-top: 2rem;
  }
  nav ul img:first-child {
    width: 8rem;
  }
  nav ul li {
    margin-top: 2rem;
  }
}